.DS_Store
*.pyc

data/SRR072232.fastq
data/SRR072232.fastq.gz
data/SRR072233.fastq
data/SRR072233.fastq.gz
data/reference_genomes/
data/expected_species_w_protein_nb.txt
data/reference_rRNAs/
data/all_taxo_level_abundance.txt
data/expected_species_w_rRNA_nb.txt
data/mapped.txt
data/sortmerna_euk.fasta
data/16S_copy_number.txt
data/cut_ref_genomes/
data/metaphlan2_db/

results/
logs/
